/* Font family */
@font-face {
  font-family: Sketch;
  font-style: normal;
  font-weight: normal;
  src: url(assets/fonts/Sketch\ College.ttf);
}

html,
body {
  margin: 0;
  height: 100%;
}

/* Section styles by ID */
#welcome-section {
  background-image: url(../src/assets/img/Entrar.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
}

#main-section {
  display: none;
}

/* Titles and fonts styles */
.title-style {
  font-family: "Poppins", sans-serif;
}

.name-pokemon-style {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 70%;
}

.number-pokemon-style {
  font-family: Sketch;
  font-size: 20px;
}

/* Buttons styles */

.button-go-style {
  background-color: #bc1823;
  height: 50px;
  width: 200px;
  color: #ffffff;
  border-radius: 20px;
  border: 3% groove #000000;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.4s;
  font-size: 20px;
}

.button-go-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(94, 204, 207);
  color: black;
  border: solid;
  border-width: 2px;
  transform: translateY(4px);
}

.button-go-style:active {
  box-shadow: 0 7px #666;
  transform: translateY(8px);
}

button:focus {
  outline: 0 !important;
}

/* Images styles */
.logo-nav-style {
  width: 150px;
  height: 50px;
}

.image-pokemon-modal {
  width: 40%;
}

/* Background-color of Badges */
.Fire {
  background-color: rgb(252, 83, 5);
}

.Normal {
  background-color: rgb(134, 126, 122);
}

.Water {
  background-color: rgb(48, 137, 240);
}

.Grass {
  background-color: rgb(44, 219, 67);
}

.Electric {
  background-color: rgb(245, 222, 19);
}

.Ice {
  background-color: rgb(171, 169, 196);
}

.Fighting {
  background-color: rgb(32, 27, 27);
  color: floralwhite;
}

.Poison {
  background-color: rgb(194, 79, 204);
}

.Ground {
  background-color: rgb(143, 92, 69);
}

.Flying {
  background-color: rgb(190, 184, 181);
}

.Psychic {
  background-color: rgb(160, 161, 73);
}

.Bug {
  background-color: rgb(36, 187, 104);
}

.Rock {
  background-color: rgb(122, 105, 97);
}

.Ghost {
  background-color: rgb(169, 36, 187);
}

.Dragon {
  background-color: rgb(120, 236, 43);
}

.undefined {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  #welcome-section {
    background-image: url(../src/assets/img/mobile.png);
    width: 100%;
  }

  .image-pokemon-modal {
    width: 50%;
  }
}
@media only screen and (max-width: 382px) {
  .image-pokemon-modal {
    width: 60%;
  }
}
